*, 
*::before, 
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

h1, h2, h3, h4, h5, h6, p{
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
}

button {
    font-family: "Roboto", sans-serif;
    cursor: pointer;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
    margin: 0;
}

.section {
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

/* #region Header */
.header {
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px; 
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.logo-span {
    color: #2e2f42;
}

.menu {
    display: flex;
    gap: 40px;
}

.menu-item {}

.menu-link {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
}

.menu-link:hover,
.menu-link:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
}

.address-menu {
    display: flex;
    gap: 40px;
}

.address-item {}

.address-link {
    display: block;
    font-size: 16px; 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
    padding: 24px 0;
}

.address-link:hover,
.address-link:focus {
    color: #404bbf;
}
/* #endregion Header */

/* #region Hero */
.hero {
    display: flex;
    justify-content: center;
    background-color: #2e2f42;
    padding: 188px 0;


}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin-bottom: 48px;
}

.hero-button {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    border-radius: 4px;
    margin: 0 auto;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}
/* #endregion Hero */

/* #region Features */

.features {
}

.features-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.features-item {
    width: calc((100% - 72px) / 4);
}

.features-title {
    font-weight: 500;
    font-size: 20px; 
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.features-describe {
    font-size: 16px; 
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* #endregion Features */

/* #region Our Team */

.our-team {
    background-color: #f4f4fd;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.team-item {
    width: calc((100% - 72px) / 4);
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.name-container {
    padding: 32px 0;
}

.team-img {}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.team-profession {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

/* #endregion Our Team */

/* #region Our Portfolio */

.portfolio {
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

.portfolio-item {
    background-color: #fff;
}

.portfolio-img {}

.text-container {
    padding: 32px 16px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
}

.portfolio-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-describe {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* #endregion Our Portfolio */

/* #region Footer */

.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px; 
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.logo-span-footer {
    color: #f4f4fd;
}

.footer-describe {
    display: flex;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 264px;
}

/* #endregion Footer */