*, 
*::before, 
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

h1, h2, h3, h4, h5, h6, p{
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

picture {
    flex-shrink: 0;
    max-width: 100%;
}

button {
    font-family: "Roboto", sans-serif;
    cursor: pointer;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
    margin: 0 auto;
}

.section {
    padding: 96px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}

/* #region Header */
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.nav {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px; 
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    /* margin-right: 76px; */
    margin-right: 149px;
    width: 115px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-span {
    color: #2e2f42;
}

.menu {
    display: flex;
    gap: 40px;
    display: none;
}

.menu-item {
}

.menu-link {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover,
.menu-link:focus {
    color: #404bbf;
}

.menu-link.studio {
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link.studio::after {
    content: "";
    position: absolute;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    left: 0;
    bottom: -1px;
}

.address {
    font-style: normal;
    display: none;
}

.address-menu {
    display: flex;
    gap: 40px;
}

.address-item {}

.address-link {
    display: block;
    font-size: 16px; 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
    color: #404bbf;
}

.menu-open-btn {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* #region mob-menu */

.mob-menu {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: #fff;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.mob-menu.is-open {
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
}

.mob-menu-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: transparent;
}

.mob-menu-list {
    margin-top: 72px;
    margin-left: 16px;
    margin-bottom: 20px;
}

.mob-menu-item:not(:last-child) {
    margin-bottom: 40px;
}

.mob-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-link:hover,
.mob-menu-link:focus {
    color: #4d5ae5;
}

.mob-address {
    font-style: normal;
}

.mob-address-menu-list {
    margin-left: 16px;
}

.mob-address-item:not(:last-child) {
    margin-bottom: 24px;
}

.mob-address-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-address-link:hover,
.mob-address-link:focus {
    color: #404bbf;
}

.mob-menu-social-list {
    display: flex;
    gap: 40px;
    margin-left: 16px;
    margin-top: 48px;
    margin-bottom: 40px;
}

.mob-menu-item-icon {
    width: 40px;
    height: 40px;
}

.mob-menu-link-icons {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;}

.mob-menu-icon {
    fill: #f4f4fd;
}

.mob-menu-link-icons:hover,
.mob-menu-link-icons:focus {
    background-color: #404bbf;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* #endregion mob-menu */

/* #endregion Header */

/* #region Hero */

.hero {
    display: flex;
    justify-content: center;
    background-color: #2e2f42;
    /* padding: 188px 0; */
    padding: 72px 0;
    background-image: linear-gradient(
    rgba(46, 47, 66, 0.7), 
    rgba(46, 47, 66, 0.7)), 
    url(../images/bg-mob-1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* max-width: 1440px; */
    max-width: 320px;
    margin: 0 auto;
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 2dppx),
(min-resolution: 192dpi) {
    .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
        url(../images/bg-mob-2x.jpg);
    }
}

.hero-title {
    font-weight: 700;
    /* font-size: 56px;
    line-height: 1.07; */
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    /* max-width: 496px; */
    max-width: 216px;
    margin-bottom: 48px;
}

.hero-button {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    border-radius: 4px;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}
/* #endregion Hero */

/* #region Features */

.features-list {
    display: flex;
    flex-wrap: wrap;
    /* gap: 24px; */
    gap: 72px;
    justify-content: center;
}

.features-item {
    /* width: calc((100% - 72px) / 4); */
}

/* .features-item-border {
    width: 264px;
    height: 112px;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    background-color: #f4f4fd;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.features-item-icon {
    display: none;
}

.features-title {
    /* font-weight: 500;
    font-size: 20px;
    line-height: 1.2  */
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}

.features-describe {
    font-weight: 500;
    font-size: 16px; 
    line-height: 1.5;
    letter-spacing: 0.02em;
    line-height: 24px;
}

/* #endregion Features */

/* #region Our Team */

.our-team {
    background-color: #f4f4fd;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    /* gap: 24px; */
    gap: 72px;
    align-items: center;
    justify-content: center;
}

.team-item {
    /* width: calc((100% - 72px) / 4); */
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.name-container {
    padding: 32px 0;
}

.team-img {}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.team-profession {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.team-list-icon {
    display: flex;
    gap: 24px;
    text-align: center;
    justify-content: center;
    margin-top: 8px;
    
}

.team-item-icon {
    width: 40px;
    height: 40px;
}

.team-link-icons {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-icon {
    fill: #f4f4fd;
}

.team-link-icons:hover,
.team-link-icons:focus {
    background-color: #404bbf;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* #endregion Our Team */

/* #region Our Portfolio */

.portfolio {
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    /* row-gap: 48px;
    column-gap: 24px; */
    gap: 48px;
    align-items: center;
    justify-content: center;
}

.portfolio-item {
    background-color: #fff;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-cover-text {
    transform: translate(0);
}

.portfolio-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    cursor: pointer;
}

.portfolio-cover-wrap {
    position: relative;
    overflow: hidden;
}

.portfolio-img {}

.portfolio-cover-text {
    position: absolute;
    top: 0;
    background-color: #4d5ae5;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    height: 100%;
    left: 0;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.text-container {
    padding: 32px 16px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
}

.portfolio-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-describe {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* #endregion Our Portfolio */

/* #region Footer */

.footer {
    background-color: #2e2f42;
    /* padding: 100px 0; */
    padding: 96px 0;
}

.all-footer {
    display: flex;
    /* align-items: baseline; */
    flex-wrap: wrap;
    gap: 72px;
    align-items: center;
    justify-content: center;
}

.logo-footer-container {
    /* margin-right: 120px; */
    max-width: 288px;
}

.logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
}

.logo-span-footer {
    color: #f4f4fd;
}

.footer-describe {
    display: flex;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    /* width: 264px; */
}

.footer-title-social {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    text-align: center;
}

.footer-social-list {
    display: flex;
    gap: 16px;

}

/* .footer-list-icon {
    display: flex;
    gap: 24px;
    text-align: center;
    justify-content: center;
    margin-top: 8px;

} */

.footer-item-icon {
    width: 40px;
    height: 40px;
}

.footer-link-icons {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-icon {
    fill: #f4f4fd;
}

.footer-link-icons:hover,
.footer-link-icons:focus {
    background-color: #31d0aa;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-wrapper-cont {
    /* margin-left: 80px; */
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.subscribe-title {
    /* margin-bottom: 16px; */
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
}

.subscribe-form {
    display: flex;
    /* gap: 24px; */
    flex-wrap: wrap;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.subscribe-input {
    /* width: 264px; */
    width: 288px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
    opacity: 0.3;

}

.subscribe-input::placeholder {
    color: #ffffff;
}

.subscribe-button {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover,
.subscribe-button:focus {
    background-color: #404bbf;
}

.icon-button {
    margin-left: 16px;
    fill: #fff;
}

/* #endregion Footer */

/* #region backdrop-modal */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    /* width: 408px; */
    width: 288px;
    /* min-height: 584px; */
    min-height: 623px;
    background-color: #fcfcfc;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    /* padding: 72px 24px 24px 24px; */
    padding: 72px 16px 24px 16px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404bbf;
    border: none;
    fill: #fff;
}

.modal-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
    fill: #fff;
}

.modal-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.form-wrapper-cont {
    margin-bottom: 8px;
}

.modal-form-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.modal-cont-input {
    position: relative;
}

.modal-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border: 1px solid #4d5ae5;
}

.modal-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-icon {
    fill: #4d5ae5;
}

.form-wrapper-cont-comment {
    margin-bottom: 16px;
}

.modal-textarea {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    /* width: 360px; */
    width: 256px;
    height: 120px;
    resize: none;
    padding: 8px 16px;
    outline: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
    border: 1px solid #4d5ae5;
}

.modal-textarea::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.modal-cont-checkbox {
    margin-bottom: 24px;
}

.custom-lable-user-checkbox {
    cursor: pointer;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.custom-checkbox {
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 16px;
    height: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: transparent;
}

.checkbox:checked + .custom-lable-user-checkbox > .custom-checkbox {
    border-color: transparent;
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.privacy-policy {
    line-height: 1.33;
    text-decoration: underline;
    color: #4d5ae5;
}

.modal-submit {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    background-color: #4d5ae5;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
    display: block;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit:hover,
.modal-submit:focus {
    background-color: #404bbf;
}

/* #endregion backdrop-modal */

/* media for tab */
@media screen and (min-width: 768px) {
    .container{
        max-width: 768px;
    }
    .section {
        padding: 96px 0;
    }

/* for header */

    .menu-open-btn {
        display: none;
    }

    .header-container {
        padding: 0 16px;
    }

    .nav {
        padding-top: 24px;
        align-items: baseline;
    }

    .logo {
        margin-right: 120px;
    }

    .menu {
    display: flex;
    }

    .menu-link {
        padding-top: 0;
    }

    .address {
        display: flex;
        padding: 16px 0;
    }

    .address-menu {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        align-items: center;
        justify-content: flex-end;
        margin: 0 auto;
    }

    .address-link {
        font-size: 12px; 
        line-height: 1.17;
        letter-spacing: 0.04em;
        color:#434455;
        padding: 0;
    }

/* for hero */

    .hero {
        padding: 112px 0;
        max-width: 768px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/bg-tab-1x.jpg);
    }

@media screen and (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 2dppx),
(min-resolution: 192dpi) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/bg-tab-2x.jpg);
    }
}

    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
    }

/* for features */

    .features-list {
        column-gap: 24px;
        row-gap: 72px;
    }
    .features-item {
        width: calc((100% - 24px) / 2);
    }
    .features-title {
        text-align: left;
    }

    /* for our team */

    .team-list {
        column-gap: 24px;
        row-gap: 64px;
    }

    /* for our portfolio */

    .portfolio-list {
        column-gap: 24px;
        row-gap: 72px;
    }
    .portfolio-item {
        width: calc((100% - 24px) / 2);
    }
    
        /* for footer */

    .all-footer {
        column-gap: 24px;
        row-gap: 72px;
        padding-left: 108px;
        padding-right: 164px;
        align-items: baseline;
    }

    .logo-footer-container {
        max-width: 264px;
    }

    .logo-footer {
        justify-content: flex-start;
    }

    .footer-title-social {
        text-align: left;
        margin-bottom: 16px;
    }
    
    .subscribe-wrapper-cont {
        justify-content: flex-start;
    }

    .subscribe-form {
        gap: 24px;
    }

    .subscribe-input {
        width: 264px;
    }

/* for backdrop-modal */

    .modal {
        width: 408px;
        min-height: 584px;
        padding: 72px 24px 24px 24px;
    }

    .modal-textarea {
        width: 360px;
    }

}

/* media for desktop */
@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
        }
    .section {
        padding: 120px 0;
    }

/* for header */

.logo {
    margin-right: 76px;
}

.address {
    padding: 24px 0;
}

.address-menu {
    gap: 40px;
}

.address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* for hero */

    .hero {
        padding: 188px 0;
        max-width: 1440px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/bg-desk-1x.jpg);
    }

@media screen and (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 2dppx),
(min-resolution: 192dpi) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/bg.jpg);
    }
}

    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
    }

/* for features */

    .features-list {
        gap: 24px;
    }
    .features-item {
        width: calc((100% - 72px) / 4);
    }
    .features-item-border {
        width: 264px;
        height: 112px;
        border-radius: 4px;
        border: 1px solid #8e8f99;
        background-color: #f4f4fd;
        margin-bottom: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .features-item-icon {
        display: flex;
    }
    .features-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2
    }
    .features-describe {
        font-weight: 400;
    }

        /* for our team */
    
    .team-list {
        gap: 24px;
    }
    .team-item {
        width: calc((100% - 72px) / 4);
    }

    /* for our portfolio */
    
    .portfolio-list {
        column-gap: 24px;
        row-gap: 48px;
    }
    .portfolio-item {
        width: calc((100% - 48px) / 3);
    }

        /* for footer */
    
    .footer {
        padding: 100px 0;
    }

    .all-footer {
        align-items: baseline;
        flex-wrap: nowrap;
    }

    .logo-footer-container {
        margin-right: 120px;
    }

    .footer-describe {
        width: 264px;
    }

    .subscribe-wrapper-cont {
        margin-left: 80px;
    }

    .subscribe-form {
        gap: 24px;
        flex-wrap: nowrap;
    }

    .subscribe-input {
        width: 264px;
        opacity:inherit
    }
}